################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AuthServer/IdentityServer4/AuthServer/obj
/src/AuthServer/IdentityServer4/AuthServer/bin
/src/AuthServer/IdentityServer4/.vs/
/src/Spa/oauth-client/package-lock.json
/src/Spa/Angular - DevExtreme/node_modules
/src/Spa/Angular - DevExtreme/e2e/src
