################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AuthServer/IdentityServer4/AuthServer/obj
